/* General */

.com_minitekwall.view- a[target="_blank"]::before,
.com_minitekwall.view-dashboard a[target="_blank"]::before,
.com_minitekwall.view-widget a.btn[target="_blank"]::before {
  content: none;
}

/* Dashboard */

body.com_minitekwall.view- #subhead-container,
body.com_minitekwall.view-dashboard #subhead-container {
  display: none;
}

body.com_minitekwall.view- #system-message-container,
body.com_minitekwall.view-dashboard #system-message-container {
  margin-top: 1rem;
}

/* Dashboard brand */

.minitek-dashboard .brand {
  border: 1px solid #b4e1ea;
  background: #d9edf7;
}

.minitek-dashboard .brand h2,
.minitek-dashboard .brand p {
  color: #2b7fbd;
}

/* Dashboard cards */

.dashboard-cards .icon {
  font-size: 38px;
  width: 38px;
  height: 38px;
  color: #2b7fbd;
}

/* Dashboard modules */

.dashboard-module .list-group-item [class*=" icon-"] {
  color: #2b7fbd;
}

/* Separators */

label[id^="jform_source_params_separator_"],
label[id^="jform_masonry_params_separator_"] {
  display: none !important;
}

.mmSeparator {
  box-sizing: border-box;
  background: none repeat scroll 0 0 #e8f3f9;
  color: #555;
  margin: 10px 0 0;
  padding: 5px;
  float: left;
  width: 100%;
  font-size: 12px;
}

.mmSeparator h3,
.mmSeparator h4 {
  margin: 0;
  padding: 5px;
  font-weight: 400;
}

.mmSeparator h4 {
  font-size: 15px;
}

/* Widget */

.com_minitekwall.view-widget .alert {
  margin: 0;
}

/* Widgets */

.com_minitekwall.view-widgets a.btn-link {
  text-decoration: none !important;
}

/* Masonry Layout Params */

#masonry_layout .alert hr {
  border-color: #f7ebd2;
  border-width: 1px 0 0;
}

/* Masonry Grid Radio */

#jform_masonry_params_mas_grid {
  margin: 0 -10px;
}

.grid-radio {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  text-align: center;
  margin: 0 10px 30px;
}

.grid-radio label {
  width: 100%;
  background: #e8f4f9;
  border: 5px solid rgba(0, 0, 0, 0);
  box-sizing: content-box;
  cursor: pointer;
  text-align: center;
}

.grid-radio.active label {
  border: 5px solid #faa732;
}

.grid-radio.active label.grid-radio-custom {
  border: 5px solid #db8ddb;
}

.grid-radio label p {
  margin: 0;
  padding: 10px 10px 15px;
  color: #0088cc;
}

.grid-radio.active label p {
  background: #faa732;
  color: #fff;
}

.grid-radio.active label.grid-radio-custom p {
  background: #db8ddb;
  color: #fff;
}

.grid-radio label img {
  width: 100%;
}

.grid-radio input[type="radio"] {
  float: none;
  display: none;
}

.grid-radio-demo-cont {
  box-sizing: border-box;
  background: #f5fafc;
}

.grid-radio-demo-cont i {
  font-size: 18px;
}

.grid-radio-custom .grid-radio-demo {
  padding: 25px 0;
  line-height: 80px;
}

.grid-radio-custom .grid-radio-demo i.icon {
  color: #4f8ab2;
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  margin: 0;
  vertical-align: top;
}

.grid-radio.active .grid-radio-custom .grid-radio-demo i.icon {
  color: #db8ddb;
}

.grid-wall-item {
  float: left;
  padding: 3px;
  box-sizing: border-box;
}

.grid-wall-item > div {
  background: #4f8ab2;
  width: 100%;
  height: 100%;
}

.grid-item-size {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-51%);
  color: rgba(255, 255, 255, 0.7);
}

/* Masonry effects */

#jform_masonry_params_mas_effects ul {
  margin: 0;
}

#jform_masonry_params_mas_effects ul input[type="checkbox"] {
  margin: 0 10px 0 0;
  float: none;
}

/* Arrows Type radio */

#jform_masonry_params_mas_arrows {
  margin: 0 -10px;
}

.arrow-radio {
  width: 300px;
}

.arrow-radio .grid-radio-demo-cont {
  padding: 15px 0;
}
